.App {
  min-height: 100vh;
}

.glow-effect {
  box-shadow: 0 0 20px rgba(117, 6, 9, 0.3);
}

.glow-effect:hover {
  box-shadow: 0 0 30px rgba(117, 6, 9, 0.5);
}

.glow-secondary {
  box-shadow: 0 0 20px rgba(6, 19, 60, 0.3);
}

.glow-secondary:hover {
  box-shadow: 0 0 30px rgba(6, 19, 60, 0.5);
}